<div class="profile-summary">
    <h2 class="title">🌟 My Profile 👦</h2>
  
    <div class="profile-info">
      <div class="avatar">
        <img [src]="user?.imageUrl" alt="Profile Avatar" />
      </div>
  
      <div class="details">
        <p><strong>🆔 PlayCenterId:</strong> {{ user?.playCenterId }}</p>
        <p><strong>👤 Name:</strong> {{ user?.firstName }}</p>
        <p><strong>👪 Parents:</strong> {{ user?.fatherName }} & {{ user?.motherName}}</p>
        <p><strong>🎂 Birth Date:</strong> {{ user?.dateOfBirth }}</p>
        <p><strong>📧 Email:</strong> {{ user?.email }}</p>
        <p><strong>📍 Address:</strong> {{ user?.address }}</p>
      </div>
    </div>
  </div>
  