<nav class="navbar">
  <div class="logo">🌈 Nahne Munhe Play Center</div>
  
  <!-- Hamburger menu toggle -->
  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/">Home</a></li>

    @if (isLoggedIn | async) 
    {
      <li><a routerLink="/dashboard">Dashboard</a></li>
    }
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/activities">Activities</a></li>
    <li><a routerLink="/memory-game">Games</a></li>
    <li><a routerLink="/contact">Contact</a></li>

    
    @if (!(isLoggedIn | async)) 
    {
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    }

    @if (isLoggedIn | async) 
    {
      <li><a href="#" (click)="logout(); $event.preventDefault()">Logout</a></li>
    }
  </ul>
</nav>
