<div class="reset-password-container">
    <h2>Welcome to Nanhe Munne Play Center</h2>
  <h2>Reset Password</h2>
  <form (ngSubmit)="resetPassword()" #f="ngForm">
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter new password"
        required
      />
      <button type="button" (click)="toggleShowPassword()">
        {{ showPassword ? 'Hide' : 'Show' }}
      </button>
    </div>

    <div class="password-wrapper">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm new password"
        required
      />
      <button type="button" (click)="toggleShowConfirmPassword()">
        {{ showConfirmPassword ? 'Hide' : 'Show' }}
      </button>
    </div>

    <button type="submit" [disabled]="loading">
      <ng-container *ngIf="!loading">Reset Password</ng-container>
      <div *ngIf="loading" class="rainbow-spinner"></div>
    </button>

  </form>
  <p *ngIf="message">{{ message }}</p>
</div>
