<div class="forgot-password-container">
  <h2>Forgot Password</h2>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <input
      type="text"
      name="playCenterId"
      [(ngModel)]="playCenterId"
      placeholder="Enter your NMPC ID e.g. NMPC001"
      required
    />
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Enter your registered email"
      required
    />
    
    <button type="submit" [disabled]="isLoading">
      <span *ngIf="!isLoading">Send Reset Link</span>
      <div *ngIf="isLoading" class="rainbow-spinner"></div>
    </button>
  </form>

  <p *ngIf="info">{{ info }}</p>
</div>
